﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../../Content/webfonts/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/custom-theme.css" rel="stylesheet" type="text/css" />

    <title>Company Identification Information</title>

</head>

<body class="login login-body;">
    <div class="pgheader"></div>
    <section id="login" class="visible animated fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-np">

                    <div class="login-box-plain">
                        <h2 class="text-center">Company Code</h2>
                        <div class="divide-20"></div>
                        <!-- ko if: Message != null -->
                        <div class="alert alert-danger" data-bind="if: Message">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <span class="error-head">
                                The following error[s] occurred
                            </span>
                            <div class="error-wrapper">
                                <p class="nrml-txt" data-bind="text: Message"></p>
                            </div>
                        </div>
                        <div class="divide-20"></div>
                        <!-- /ko -->
                        <form action="/" method="post" data-bind="attr: { action: PostbackUrl }">
                            <div class="form-group">
                                <label for="username">Company Code</label>
                                <input type="hidden" name="State" id="State" value="" data-bind="attr: { value: State }" />
                                <input type="hidden" name="ClientId" id="ClientId" value="" data-bind="attr: { value: ClientId }" />
                                <i class="fa fa-cloud fa-fw"></i>
                                <input type="text" class="form-control" placeholder="Company Code" autofocus="" name="CompanyCode" data-bind="attr: { value: CompanyCode }" required="required" />
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-primary btn-block" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<div class="pgfooter"></div>-->
    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/knockout-3.1.0.js"></script>

    <script type="text/javascript">
        $(function () {

            $(".pgheader").load("../../Resources/header.html");
            //$(".pgfooter").load("../../Resources/footer.html");

            var loginModel = JSON.parse('{{jsonData}}');

            if (loginModel.Message != null && loginModel.Message.length < 1)
                loginModel.Message = null;

            ko.applyBindings(loginModel);
        });
    </script>

</body>
</html>
