﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>OOPS... Something went wrong</title>
</head>
<body style="background-color: #3969A5; color: #ffffff;margin:50px; font-family:'Open Sans'">
    <div style="margin: 0px auto;">

        <div style="font-size: 10em;">
            :(
        </div>

        <div style="font-size:3em">
            {{errorcode}} : {{message}}
        </div>

        <div style="font-size:1.2em">
            {{stringwithstacktrace}}
        </div>

    </div>
</body>
</html>
