﻿<div class="footer navbar-brand">
    <div class="container text-center">
        <p class="text-muted">
            <a href="http://www.techcello.com" title="TechCello"><i class="fa fa-copyright fa-fw"></i> techcello </a>
            <span class="text-success">2014</span></p>
    </div>
</div>