﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("form").submit();
        });
    </script>
</head>
<body>
    <form method="post" action="{{postbackUrl}}?id={{message}}">
        <input type="hidden" name="message" value="{{message}}" />
        <!--<input id="postform" type="submit" value="Send" />-->
    </form>
</body>
</html>
