﻿body {
    font-family: arial;
    font-size: 12px;
    color: #464646;
    line-height: 24px;
    width: 850px;
    margin: 0 auto;
    padding: 0;
    max-height: 850px;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.scopes {
    max-height: 500px;
    overflow-y: scroll;
}

    .scopes > h2 {
        font-size: 1.2em;
        font-weight: bold;
        color: #000;
        padding-bottom: 15px;
    }

    .scopes ul {
        list-style: none;
    }

        .scopes ul li {
            border-top: 1px solid #ccc;
            padding: 10px 0 10px 0px;
        }

            .scopes ul li span {
                font-size: 1.2em;
            }

#btnCancel {
    border: 1px solid #ccc;
    font-weight: bold;
    outline: none;
    color: #808080;
    background: #fff;
    padding: 10px;
}

#btnAccept {
    padding: 10px;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: -moz-linear-gradient(center top, #4387fd, #4683ea) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
}

.options {
    float: right;
    margin-right: 95px;
    padding-top: 25px;
}

.rememberconsent {
    float: left;
    font-size: 1.2em;
    padding: 10px 0 10px 0px;
}

.scopedescription {
    display: block;
    color: #808080;
    padding-left: 25px;
}
